# Logs
logs
*.log
*.log.*

# Runtime data
.env

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
dist

# Dependency directory
node_modules

# temp && files folders
temp
files
.vscode
coverage
